.register-buttons{
    display: flex;
    flex-direction: column;
    position: relative;
    gap:1vh;
}
.register{
    display: flex;
    gap:1.3vh;
    width:100%
}
.register-button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 22vh;
    height:6vh;
    border-radius: 8px;
    background: #FF2B00;
    position: relative;
    color: white;
    gap: 2vh;
    font-weight: 900;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .10);
    backdrop-filter: blur(5px);
    color:white;
    border: 2px solid white;
    transition: 0.1s;
    margin-top: 3vh;
}
.register-button:hover{
    background: #fa2d04;
    transform: scale(1.1);
  }

  @media (max-width:1300px) {
    .register-button{
            font-family: Montserrat;
            font-size: small;
            width:26vh;
            height:6vh;
            font-weight: 700;
            font-size: 1.8vh;
            gap:1vh;
    }
}

@media (max-width:980px) {
    .register-button{
            font-family: Montserrat;
            font-size: medium;
            width:26vh;
            height:5vh;
            font-weight: 700;
            font-size: 1.8vh;
            gap:1vh;
    }
}

@media (max-width:660px) {
    .register-button{
        font-size:small;
        width:20vh;
        height:5vh;
        font-weight: 700;
        font-size: 1.5vh;
        gap:1vh;
}
}

@media (max-width:410px) {
    .register-button{
        font-size:smaller;
        width:16vh;
        height:5vh;
        font-weight: 700;
        font-size: 1.3vh;
        gap:1vh;
}
}


