*{
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
}

.home{
  height:100svh;
  margin: 0;
  border: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  margin-top: 6vh;
  animation: start-screen 4s ease 0s 1 normal forwards;
}

.button1{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 35vh;
  height:6vh;
  border-radius: 8px;
  background: #FF2B00;
  position: relative;
  color: white;
  gap: 2vh;
  font-weight: 900;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .10);
  backdrop-filter: blur(5px);
  color:white;
  border: 2px solid white;
  transition: 0.1s;
}
.button1:hover{
  background: #fa2d04;
  transform: scale(1.1);
}
.button2:hover{
  background: #575dfa;
  transform: scale(1.1);
}
.button2{
  cursor: pointer;
  display: flex;
  gap: 2vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 35vh;
  height:6vh;
  border-radius: 8px;
  background: #4F56FF;
  position: relative;
  color: white;
  font-weight: 900;
  background-color: rgba(255, 255, 255, .10);
  backdrop-filter: blur(5px);
  color:white;
  border: 2px solid white;
  transition: 0.1s;
}
.img-discord{
  background-image: url('./assets/Discord_logo.png');
  background-size: cover;
  height: 3vh;
  width:3vh;
}

.img_registration {
  background-image: url('./assets/Vector.png');
  background-size: cover;
  height: 2.5vh;
  width: 2vh;
}

/*load-screen*/
.load-screen{
  height:100svh;
  width:100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: load-anim 5s ease 4s 1 normal forwards;
}

.load-icon{
  background: url('./assets/Hac-a-sol_logo.png');
  background-repeat: no-repeat;
  height:200px;
  width:200px;
  background-size: contain;
  animation: myAnim 4s ease 0s 1 normal forwards;
}

/*Background*/
.vid{
  position:fixed; width: 100%; height: 100%; object-fit: cover; z-index: -1;
}
body{
  margin:0;
  padding:0;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  height:100svh;
  cursor: url('./assets/pointer.jpg'),auto;
}

/*Nav-Bar*/

.navbar img{
  width:16vh;
  margin-left:5vh;
  animation: start-screen 5s ease 0s 1 normal forwards;
  margin-right: auto;
  top:0;
  left: 0;
}


.navbar{
  display: flex;
  width: 100%;
  height: 15vh;
  align-items: center;
  animation: start-screen 4s ease 0s 1 normal forwards;
  top:0;
  position: fixed;
  z-index: 2;
}

.navbar-list{
  margin-left: auto;
  margin-right: 5vh;
  list-style: none;
  display: flex;
  flex-direction: row;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  position:fixed;
  right:0;
}

.navbar-list > li{
  margin-right:7vh;
  color: white;
  letter-spacing: 0.9px;
  transition: 0.1s;
}


.navbar-list > li:hover{
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e62a00, 0 0 20px #e62a00, 0 0 25px #e62a00, 0 0 30px #e62a00, 0 0 35px #e62a00;
  transform: scale(1.2) ;
  transition-delay: 0.1s;
  cursor: pointer;
}
/* Sponsor-Page */

.sponsor-container{
  background-color: black;
  justify-content: center;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.head-2{
  margin: auto;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.head-2 h2{
  font-weight:200;
}
.sponsor-container span{
  color: #FFA401;
}
 .sponsor-heading{
  margin-top: 4vh;
  background-image: url('./assets/Texts/sponsor.png');
  background-position:top;
  background-size: contain;
  background-repeat: no-repeat;
  width:80%;
  height: 17vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  border:0;
  padding: 0;
 }

.sponsor-heading h2{
  background: linear-gradient(91.98deg, #FF6445 59.07%, #FFA400 97.21%);
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  margin-bottom: 20px;
  margin: auto;
  font-size: 70px;
  font-weight: 900;
}

.sponsor-container button{
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, .10);
  backdrop-filter: blur(5px);
  width:60%;
  border-radius: 6px;
  border:2px solid white;
  color:white;
  height:6vh;
  width:55vh;
  font-size: large;
  font-weight: 600;
  margin-top: 10vh;
  transition: 0.1s;
  margin-bottom: 10vh;
}

.sponsor-container button:hover{
    background: #fa2d04;
    transform: scale(1.1);
}

/* ContactUs */

.contact-container{
  background-color: black;
  justify-content: center;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-heading{
  margin-top: 4vh;
  background: url('./assets/Texts/ContactUs.png');
  background-position:top;
  background-size: contain;
  background-repeat: no-repeat;
  width:80%;
  height: 17vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  border:0;
  padding: 0;
}

.contact-heading h2{
  background: linear-gradient(91.98deg, #FF6445 59.07%, #FFA400 97.21%);
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  margin-bottom: 20px;
  margin: auto;
  font-size: 70px;
  font-weight: 900;
}

.contact-foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:80%;
  margin:auto;
  margin-bottom: 10vh;
}

.hack-image{
  background-image: url('./assets/Hac-a-sol_logo.png');
  height: 30vh;
  width:30vh;
  background-repeat: no-repeat;
  background-size: contain;
}

/* ContactUs links */

.link {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: white;
  justify-content: center;
  align-items: center;
}

.link h3{
margin-bottom: 3vh;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.twitter {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #03A9F4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.github {
  margin-top: -.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.discord {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #037bb3;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: rgb(67, 66, 66);
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #6178fd;
}

.card4:hover .discord {
  fill: white;
}

/* ContactUs mail */

.contact-mail{
  display: flex;
  flex-direction: column;
  color: white;
  height:26vh;
}

.mail-img{
  background-image: url('./assets/images/mail.png');
  background-size: cover;
  background-repeat: no-repeat;
  height:20px;
  width:28px;
  bottom:0;
}
.mail{
  display: flex;
  gap:1vh;
  justify-content: center;
  align-items: center;
  margin:auto;
}

/* Carousel */
.image_wrapper {
  margin: 0px 0px;
  width:300px;
}

.image_wrapper img {
  width: 70%;
  height: 100px;
  border-radius: 20px;
}
.marquee{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-top: auto;
}

.relay{
  width:100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

/*Tracks*/

.tracks_cont{
  background-color: black;
  justify-content: center;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20vh;
  color: white;
}

.tracks_heading{
  margin-top: 4vh;
  background-image: url('./assets/Texts/TRACKS.png');
  background-position:top;
  background-size: contain;
  background-repeat: no-repeat;
  width:80%;
  height: 16vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  border:0;
  padding: 0;
  margin-bottom: 2vh;
}


.tracks_heading h2{
  background: linear-gradient(91.98deg, #FF6445 59.07%, #FFA400 97.21%);
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  margin-bottom: 20px;
  margin: auto;
  font-size: 70px;
  font-weight: 900;
}

.tracks_events {
  gap:4vh;
  margin: auto;
  margin-bottom: 0.2vh;;
  display: flex;
  position: relative;
  bottom: 2rem;
  flex-wrap: wrap;
}

.tracks_box {
  background-image: url('./assets/images/Question[1].png');
  background-size: contain;
  background-color: white;
  height: 18vh;
  width: 18vh;
  border-radius: 1rem;
  transition: 1s;
  animation: hover 2s infinite alternate;
}

.tracks_foot{
  margin: auto;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom:5vh;
}

.tracks_foot h2{
  font-weight:200;
  background: linear-gradient(91.98deg, #FF6445 59.07%, #FFA400 97.21%);
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  margin-top: 1vh;
  margin-bottom: 6vh;
}

/*Main-Text*/
.main{
  display: flex;
  flex-direction: column;
}

#ham-button{
  margin-left:auto;
  margin-right:20px;
}
.container{
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-content{
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10vh;
}

.text-content h1 {  
  font-size: 12vh; 
  font-weight: 900;
  font-family: Montserrat; 
  background: linear-gradient(90deg, #FFA401 0%, #FF6643 100%);
  filter: drop-shadow(6px 6px 16px #cf6508);
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  margin-bottom: 20px;
  cursor:default;
  animation: start-screen 4s ease 0s 1 normal forwards;
}

.text-content img{
  height:16vh;
  animation: start-screen 5s ease 0s 1 normal forwards;
}

.text-content span{
  font-family: Montserrat; 
  background: linear-gradient(90deg, #FFA401 0%, #FF6643 100%);
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
}

.text-content h2{
  color: white;
  font-family: Montserrat;
  font-size: 4vh;
  margin-top:60px;
  cursor: default;
  animation: start-screen 4s ease 0s 1 normal forwards;
}

/*music*/

.music-button{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  bottom:0;
  z-index: 2;
  justify-content: center;
  align-items: center;
  animation: start-screen 4s ease 0s 1 normal forwards;
  margin-left: auto;
  position:fixed;
}

/* scroll-bar */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: black;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 14px;
  border: 2px solid rgb(245, 170, 112);
}

.custom::-webkit-scrollbar {
  width: 3px;
  overflow-y: hidden;
}

.custom::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.custom::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border: 2px solid rgba(192, 178, 178, 0);
}

.cus::-webkit-scrollbar {
  width: 5px;
}

.cus::-webkit-scrollbar-track {
  border-radius: 5px;
}

.cus::-webkit-scrollbar-thumb {
  background-color: #000000;
  margin:10px;
  border-radius: 14px;
  border: 2px solid rgb(192, 178, 178);
}

/* animation-keyframes */

@keyframes myAnim {
	0%,
	50%,
	100% {
	
    transform: scale(1);
	}

	25%,
	75% {
		
    transform: scale(1.2);
	}
}



@keyframes start-screen {
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

@keyframes load-anim {
	0%{
		opacity: 1;
	}

	100%{
		opacity: 0;
	}
}

@keyframes hover {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(8deg) rotateY(-10deg) rotateZ(0.5deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

/* About us  */
.about-us-small{
  display: flex;
  align-items: center;
}

.main-about-us{
  background-color: black;
  justify-content: center;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.two-boxes-div1{
  display: flex;
  align-items: center;
  width: 80%;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 30.48px;
  letter-spacing: 0.8999999761581421px;
  text-align: justified;

}

.two-boxes-div2{
  display: flex;
  align-items: center;
  width: 80%;
  font-family: Montserrat;
margin-bottom: 10vh;
font-weight: 300;
line-height: 30.48px;
letter-spacing: 0.8999999761581421px;
text-align: justified;
}

.two-boxes-div2 h2{
  font-family: Montserrat;
font-size: 27px;
color: rgba(255, 161, 0, 1);
font-weight: 700;
line-height: 54.86px;
letter-spacing: 0.8999999761581421px;
text-align: center;
display: flex;
}

.two-boxes-div1 h2{
  display: flex;
  font-family: Montserrat;
font-size: 27px;
color: rgba(255, 161, 0, 1);

font-weight: 700;
line-height: 54.86px;
letter-spacing: 0.8999999761581421px;
text-align: left;

}

.two-boxes-div1 >  img{
  display: flex;
  width:650px;
  height:300px;
  border-radius: 25px;
  border: white 1px solid;
  margin:auto;
  margin-right:50px;
}

.two-boxes-div2>  img{
  display: flex;
  width:650px;
  height:300px;
  border-radius: 25px;
  border: white 1px solid;
  margin-left:50px;
}

.about-us-heading{
  margin-top: 4vh;
  background-image: url('./assets/Texts/aboutus.png');
  background-position:top;
  background-size: contain;
  background-repeat: no-repeat;
  width:80%;
  height: 19vh;
  margin-bottom: 6vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  border:0;
  padding: 0;
}


.about-us-heading h2{
  background: linear-gradient(91.98deg, #FF6445 59.07%, #FFA400 97.21%);
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  margin-bottom: 20px;
  margin: auto;
  margin-top: 8vh;
  font-size: 70px;
  font-weight: 900;
}

.main-about-us{
  background-color: black;
  justify-content: center;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

/*Responsiveness*/

@media (max-width:1128px){
  .tracks_events{
    gap: 1.5rem;
  }
}

@media (max-width:1300px){
  .two-boxes-div1{
    width:70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3vh;
    margin-bottom: 10vh;
  }
  .two-boxes-div2{
    width:70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:3vh;
  }
}

@media (max-width: 980px){
  .about-us-heading{
    height: 9vh;
  }
  .about-us-heading h2{
    font-size: 3vh;
    margin-top: 4vh;
  }

  .two-boxes-div1 img{
    margin-left: 0;
    margin-right: 0;
  }
  .two-boxes-div2 img{
    margin-left:0;
    margin-right: 0;
  }
  .card1{
    width:80px;
    height:80px;
  }
  .card2{
    width:80px;
    height:80px;
  }
  .card3{
    width:80px;
    height:80px;
  }
  .card4{
    width:80px;
    height:80px;
  }
  .contact-foot{
    margin-bottom: 2vh;
  }
  .image_wrapper {
    margin: 0px 0px;
    width:300px;
  }
  
  .image_wrapper img {
    width: 60%;
    height: 100px;
  }

  .contact-foot{
    flex-direction: column;
  }
  .link{
    margin-bottom: 8vh;
  }

  .contact-mail{
    justify-content: center;
    align-items: center;
  }
  .mail{
    margin-top: 4vh;
  }

  .contact-heading{
    height: 10vh;
  }
  .contact-heading h2{
    font-size: 5vh;
  }
  .tracks_heading{
    height:10vh;
  }
  .tracks_cont{
    gap:1.5vh;
  }
  .tracks_events{
    background-color: black;
    justify-content: center;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    flex-direction: column;
  }

.tracks_foot {
  margin: auto;
  font-size: 2vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

  .tracks_heading h2{
    font-size: 5vh;
  }

  .sponsor-container button{
    width:40vh;
  }
  
  .head-2{
    margin: auto;
    font-size: 2vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .image_wrapper {
    margin: 0px 0px;
  }
  
  .image_wrapper img {
    width: 60%;
  }

  .buttons{
    flex-direction: column;
  }
.sponsor-heading h2{
  font-size: 4.2vh;
}
.sponsor-heading{
  height:9vh;
}


.main-about-us{

  display: flex;
  flex-direction:column;
}



  .button1{
    font-family: Montserrat;
    font-size: medium;
    width:26vh;
    height: 5vh;
    font-weight: 700;
    font-size: 1.8vh;
  }
  .button2{
    font-family: Montserrat;
    font-size: medium;
    width:26vh;
    height:5vh;
    font-weight: 700;
    font-size: 1.8vh;
    gap:1vh;
  }
  .navbar img{
    margin-left: 1vh;
    margin-top: 1.2vh;
    width:8vh;
  }
  #ham-button{
    display: block;
  }
  .navbar-list{
    display: none;
  }
  .text-content h1{
    font-size: 6.3vh;
    margin-top: 40%;
  }
  .text-content img{
    height:12vh;
  }
  .text-content h2{
    font-size: 2vh;
    /* margin-top: 30vh; */
  }
} 

@media (min-width: 980px){
  #ham-button{
    display: none;
  }
}

@media (max-width:630px){
  .about-us-heading{
    margin-top: 4vh;
    margin-bottom: 4vh;
  }
  .two-boxes-div1 h2{
    font-size: 16px;
  }
  .two-boxes-div1 img{
    width:300px;
    height:150px;
  }
  .two-boxes-div2 img{
    width:300px;
    height:150px;
  }
  .small-content{
    font-size: 12px;
    line-height: 14.86px;
  }
  .two-boxes-div2 h2{
    font-size: 16px;
  }
  .card1{
    width:60px;
    height:60px;
  }
  .card2{
    width:60px;
    height:60px;
  }
  .card3{
    width:60px;
    height:60px;
  }
  .card4{
    width:60px;
    height:60px;
  }
  .image_wrapper {
    margin: 0px 0px;
    width:180px;
  }
  .image_wrapper img {
    width: 70%;
    height: 80px;
    border-radius: 20px;
  }

  .contact-heading{
    height: 6vh;
  }
  .contact-heading h2{
    font-size: 30px;
  }

.tracks_heading h2{
  font-size: 30px;
}

  .sponsor-container button{
    width:30vh;
    font-size: small;
  }

  .head-2{
    margin: auto;
    font-size: 1.6vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .text-content h1{
    font-size: 6.3vh;
  }
  .text-content img{
    height:8vh;
  }
  .sponsor-heading h2{
    font-size: 30px;
  }
  .sponsor-heading{
    height:6vh;
  }
}
@media (min-width:630px) and (max-width:642px){
  .text-content h1{
    font-size: 6.3vh;
  }
}

@media (min-height:1300px) and (max-height:1400px){
  .text-content h1{
    font-size: 8vh;
  }
  .text-content img{
    height:6vh;
  }
  .text-content h2{
    font-size: 1.8vh;
  }
}

@media (max-width:410px){
  .card1{
    width:55px;
    height:55px;
  }
  .card2{
    width:55px;
    height:55px;
  }
  .card3{
    width:55px;
    height:55px;
  }
  .card4{
    width:55px;
    height:55px;
  }
  .contact-heading{
    height: 6.5vh;
  }
  .contact-heading h2{
    font-size: 2vh;
  }

  .text-content h1{
    font-size: 5vh;
  }
  .text-content img{
    height:6vh;
  }
  .text-content h2{
    font-size: 1.8vh;
  }
  .sponsor-heading h2{
    font-size: 2vh;
  }
  .tracks_heading h2{
    font-size: 2vh;
  }
  .tracks_heading{
    height:6.5vh;
  }
  .sponsor-heading{
    height:6.5vh;
  }
  .tracks_foot{
  height:1.2vh;
  }
  .tracks_foot h2{
    font-size: 2vh;
  }
}
 
