*{
  margin:0;
  padding:0;
}

/*Background*/
body{
  margin:0;
  padding:0;
  background-image: url('./assets/hack-a-sol-Bg.gif');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.navbar > img{
  width:6vh;
  margin-left:5vh;
}


.navbar{
 
  display: flex;
  position: absolute;
  width: 100%;
  height: 15vh;
  align-items: center;
  
}

.navbar-list{
  margin-left: auto;
  margin-right: 5vh;
  list-style: none;
  display: flex;
  flex-direction: row;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  
  
}

.navbar-list > li{
  margin-right:7vh;
  color: white;
  letter-spacing: 0.9px;

}

.navbar-list > li:hover{

  transform: scale(1.2) ;
  transition-delay: 0.1s;
  cursor: pointer;
}